
/*bandeau nav*/
nav{
	height: auto;
	background-color: black;
	border: 2px solid black;
	margin: 5px 0 5px 0;
	Padding-bottom: 15px;
	}
li {
	display: inline;
}
a {
	color: white;
	font-style: italic;
}

/*colonne droite*/
.content {
	width: 62.66%;
}
.coldroite{
	float: right;
	top: 34em;
	right:0.5%;
	width:35%;
	height: 400px;
	background: grey;
}

/*tableau*/
caption {
	border-top: medium solid blue;
	border-right: medium solid blue;
	border-left: medium solid blue;
	font-weight: bold;
	background-color: #33fe33;
}
table {
	border: medium solid blue;
	width: 50%;
	border-collapse: collapse;
	}
th,td {
	border: thin solid blue;
	text-align: center;
}

/*formulaire*/
fieldset {
	border: 2px solid black;
	width: 400px;
}
.pos1 {
	display: block;
	float: left;
    width: 150px;
		}
div {
	margin: 10px;
}

